{% extends '_base.html' %}

{% block content %}
<div id = 'chat' class = 'messages'>
<div class = 'message clearfix'>
<div class = 'message__user'>
Username
</div>
<div class = 'message__text'>
Lorem ipsum
</div>
</div>
</div>
<script>
window.onload = function(){
    startChat();
    var form = document.forms[0];
    var button = form.elements['send-message'];
    var input = form.elements['type-message'];
    button.onclick = function(e){
    	sendMessage('post_message', input.value);
    	input.value = '';
    	return false;
    }
    console.log(input.value);

};
</script>
{% endblock %}