body{
	padding: 0px;
	margin: 0px;
	background: #4CA1AF;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #C4E0E5, #4CA1AF);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #C4E0E5, #4CA1AF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

	font-family: Roboto;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.b-content{
	position: relative;
	margin: 20px auto;
	width: 60%;
	background-color: #edf0f7;
	height: 90%;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.messages{
	position: absolute;
	top: 60px;
	height: calc(100% - 60px -37px);
	width: 100%;
	height: -webkit-calc(100% - 60px - 37px);
	height: -o-calc(100% - 60px -37px);
	overflow: auto;
}
.b-header{
	height: 60px;
	position: relative;
	top: 0;
	width: 100%;
	background: #237A57;
}
.b-header__logo{
	position: absolute;
	top: 25%;
	margin-left: 16px;
	color: #fff;
	font-size: 20px;
}
.type-message{
	width: 86%;
	outline: none;
	border: none;
	padding: 8px 12px;
	margin: 0px;
	font-size: 18px;
}
.send-message{
	cursor: pointer;
	float: right;
	border: 0px;
	margin: auto 0px;
	outline: 0px;
	width: 10%;
	margin-right: 8px;
	padding: 6px 0;
	height: calc(100% - 12px);
	height: -webkit-calc(100% - 12px);
	height: -o-calc(100% - 12px);
	background: url('/static/img/send.svg') no-repeat center;
}
.message-form{
	background-color: #fff;
	padding: 0px;
	margin: 0px;
	width: 100%;
	font-size: 18px;
	position: absolute;
	bottom: 0;
}
.message{
	position: relative;
    width: 80%;
    margin-top: 20px;
    margin-left: 10px;
}
.message__text{
	position: relative;
	float: right;
    background-color: #fff;
    width: 80%;
    padding: 10px 12px;
    border-radius: 5px;
}
.message__text::after{
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
    border: 11px solid transparent;
	border-right-color: #fff;
	border-left: 0;
	border-top: 0;
	margin-top: -5.5px;
	margin-left: -11px;
}
.message__user{
	text-align: center;
	float: left;
	width: 10%;
	position: absolute;
	bottom: 25%;
}
.message__avatar{
	margin: 0 auto;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background-color: #FF3366;
}
.b-register{
    background-color: #237A57;
    color: #fff;
    border-radius: 10px;
	font-size: 18px;
	margin-left: 15px;
	margin-bottom: 20px;
	padding: 10px 15px;
	position: absolute;
	bottom: 37px;
}
.b-register:after {
	content: '';
	position: absolute;
	bottom: 0;
	height: 0;
	border: 10px solid transparent;
	border-top-color: #237A57;
	border-bottom: 0;
	border-left: 0;
	margin-left: -10px;
	margin-bottom: -10px;
	left: 20%;
	width: 0;
	
}
